
 @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&family=Inter:wght@300;400;500;600;700&family=Syne:wght@700;800&display=swap');
h1, h2, h3, h4, h5, h6{
	font-family: 'Inter', sans-serif;
}
.slide-left {
  position: relative;
  animation: slideFromOutside 1.2s ease-in-out;
}

@keyframes slideFromOutside {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.slide-right {
  position: relative;
  animation: slideFromOutsideRight 1.2s ease-in-out;
}

@keyframes slideFromOutsideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
#container1{
	display: flex;
	flex-direction: row;
	align-items:center;
	padding: 75px;
	padding-bottom: 15px;
	text-align:center;
}
#logo{
	height:70px;
	width: auto;
}

#navigation{
		margin-left: auto;
}
#navbar{
	list-style: none;
	display: flex;
	font-family: 'Inter', sans-serif;
	text-decoration: none;
		font-size:0.8em;
}

#navbar li{
	padding-right:20px;
	padding-left:20px;
	align-self: flex-end;
}

#resume-nav{
	padding-right: 0px;
}
.nav{
	color: gray;
	font-size: 1.2em;
	font-weight: 300;
	text-decoration: none;
}
.nav:hover{
	color: gray;
	text-decoration: none;
	transform: scale(1.1);
	font-weight: 400;
}
#footer{
	justify-content: center;
	font-family: 'Inter', sans-serif;
	height: 50px;
	line-height: 50px;
/*	font-size: 0.8em;*/
	text-align: center;
	padding-top: 130px;
	padding-bottom: 130px;
}
	.rounded-button {
	  border-radius: 10px;
	  padding: 30px 20px;
	  background-color: GRAY;
	  color: #fff;
	  border: none;
	  text-decoration: none;
	  font-size: 12px;
	  cursor: pointer;
	  text-align: center;
	  font-family: 'Inter', sans-serif;
	  
	  /* Align the button to the center */
	  float: right;
	}
	.rounded-button:hover{
		text-decoration: none;
		color: black;;
	}
#footer-name{
/*		color: #AAC5AA;*/
	color:black;
}
@media (max-width: 767px) {
	#logo{
		height: 100px;
		width:auto;
	}
  #container1 {
  	display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  #navigation{
  	padding-top:100px;
  	margin-left:0;
  	margin-right:0;
  	justify-content: center;
  }

  #navbar {
    justify-content: center;
    margin-top: 20px;
/*    flex-direction:column;*/
    text-align: center;
  }

  #navbar li {
    padding-right: 30px;
    padding-left: 30px;
  }


